<nav class="main-menu">
  <ul>
    {% for section in nav %}
      <li class="dropdown">
        <a href="#">{{ section.label }}</a>
        {% if section.children %}
          <ul class="dropdown-content">
            {% for sub in section.children %}
              <li class="submenu">
                <a href="#">{{ sub.label }}</a>
                {% if sub.children %}
                  <ul class="submenu-content">
                    {% for item in sub.children %}
                      <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
