<div class="header-wrapper">
  <div class="header-left">
    <a href="/"><img src="/static/images/firststring_logo_300x96.png" alt="First String Logo" /></a>
  </div>
  <div class="header-right">
    <nav class="main-menu">
      <ul>
        {% for section in nav %}
          {% if section.children %}
            <li class="dropdown">
              <a href="#">{{ section.label }}</a>
              <ul class="dropdown-content">
                {% for child in section.children %}
                  <li class="submenu">
                    <a href="#">{{ child.label }}</a>
                    {% if child.children %}
                      <ul class="submenu-content">
                        {% for item in child.children %}
                          <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li><a href="{{ section.url }}">{{ section.label }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>